@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To Johnstown Garden Centre!</h2>
    <img src="https://www.hdwallpapers.in/download/green_grass_garden_with_flowers_hd_garden-1920x1080.jpg" />

</div>
